@font-face {
    font-family: "Equinox";
    src: url('./FontsFree-Net-EquinoxRegular.ttf') format('truetype');
    font-weight: normal; /* You can specify bold if needed */
  }

  @font-face {
    font-family: "Montserrat";
    src: url('./montserrat-v25-latin-regular.ttf');
  }  

  body {
      background-color: #000000;
      color: #000000; /* Text color set to white */
      font-family: 'Montserrat', sans-serif; /* Use Roboto for body text */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0; 
  
      background-image: url('./stars.png'); /* Background image path */
      background-size: cover;
      background-position: center;
  }
  
  a {
      color: dodgerblue;
      text-decoration: none;
  }
  
  .shake {
      animation: shake 1s infinite;
  }
  
  @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      5% { transform: translate(-1px, -2px) rotate(-1deg); }
      10% { transform: translate(-3px, 0px) rotate(1deg); }
      15% { transform: translate(3px, 2px) rotate(0deg); }
      20% { transform: translate(1px, -1px) rotate(1deg); }
      25% { transform: translate(-1px, 2px) rotate(-1deg); }
      30% { transform: translate(-3px, 1px) rotate(0deg); }
      35% { transform: translate(3px, 1px) rotate(-1deg); }
      40% { transform: translate(-1px, -1px) rotate(1deg); }
      45% { transform: translate(1px, 2px) rotate(0deg); }
      50% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  