.pswdbox_label {
    text-align: left;
    font-size: 20px;
    margin-bottom: 6px;
    padding: 0 10px 2px 0px;
    font-family: 'Montserrat', sans-serif; /* Using Equinox font for headings */
}

.pswdbox {
    font-family: "Montserrat"; 
    box-sizing: border-box;
    text-align: left;
    background: #fff;
    border: 2px solid #0A0F0D;
    font-size: 22px;
    border-radius: 10px;
    padding: 12px 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    transition: box-shadow 0.5s; /* Added transition for box-shadow */
}

.pswdbox:hover {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); /* White halo effect */
}

.pswdbox:focus-within {
    border: 2px solid #533ea5;
    outline: none;
}

.psswd_len {
    text-align: right;
    margin: 3px 5px 10px 0px;
    float: right;
}
